.cvsection {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	background-color: gray;
	text-align: right;
	padding: 5px;
}
td {
	vertical-align: top;
	font-size: 12px;
	font-family: Times;
}
h1, h2, h3, h4, h5 {
	color: black;
}
h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}
h3 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 3px;
}
h4 {
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 20px;
}
table {
	padding: 15px;
}
a {
	text-decoration: none;
}
