#facets .filter_by{
    float:left;
    font-size:14px;
    width:180px;
    margin-bottom:5px;
}

#facets .reset_facets{
    text-align:right;
    text-decoration:underline;
}

#facets .facet_list{
    clear:both;
    margin-top:5px;
}

#facets .facet_sep{
    height: 1px;
    margin-bottom: 3px;
    margin-top:3px;
    /*
    background-color: #FFFFFF;
    border-top: 2px solid #e3e3e3;;
    */
}

#facets span.pivot{
    margin-top:2px;
    background-image: url("/images/pivot_white.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 19px;
}

#facets span.pivot:hover{
    text-decoration:underline;
}

#facets .showvalues {
    margin-top:2px;
    clear:both;
    float: left;
    cursor:pointer;
    background-image: url("/images/open_white.png");
    background-repeat: no-repeat;
    padding-left:15px;
}

#facets .showvalues:hover{
    cursor:pointer;
    background-image: url("/images/open_blue.png");
    background-repeat: no-repeat;
    text-decoration: underline;
}

#facets .showvalues_opened{
    cursor:pointer;
    background-image: url("/images/close_white.png");
    background-repeat: no-repeat;
    text-decoration: underline;
}

#facets .showvalues_opened:hover{
    cursor:pointer;
    background-image: url("/images/close_blue.png");
    background-repeat: no-repeat;
    text-decoration: underline;
}

#facets .facet_header {
    background-image: url("/images/bullet.gif");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left:10px;
    /*margin-bottom:10px;*/
    width:auto;
    /*float:left;*/
    margin-bottom:0px;
    padding-bottom:0px;
}

#facets .facet_header h4{
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top:0px;
    padding-top:0px;
    font-size:10px;
    color: #333333;
}

#facets .facet_form {
    width:auto;
    /*margin-right:15px;
    margin-left:25px;*/
    margin-left:0px;
    padding-left:0px;
    margin-right:20px;
    margin-top:2px;
    padding-top:0px;
    margin-bottom:25px;
}

#facets .text-box{
    color:grey;
    background-image:url('http://www.imdb.com/images/searchlink.png');
    background-repeat:no-repeat;
    margin-left:0px;
    padding-left:15px;
    border:1px solid #ccc;
}

#facets .facet_options {
    margin-top:0px;
    margin-bottom:10px;
    border:1px solid #ccc;
    display:none;
}

#facets .facet{
    background-color: #F0F0F0;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
}

.popover-content a{
    padding: 9px 14px;
}

#subclasses{
    text-align:left;
    /*border-bottom:1px solid grey;*/
    width:auto;
    clear:right;
}

#sort a img{
    vertical-align: middle;
}
